
body{
  background: url("pokemon.jpg");
  background-size: cover;
}
#header{
  height: 100px;
  background: rgba(37, 71, 196, .8);
  width: 100%;
  margin: 0;
}
#label{
  font-size: 80px;
  margin: 0;
  color: yellow;
}
#table{
  display: inline-block;
}
#jack{
  display: inline-block;
  width: 600px;

}
.fadeInLeftBig {
  animation-duration: 3s;
  animation-delay: 2s;
}
 .shake{
  /* animation-duration: 3s;
  animation-delay:3s; */
  animation: shake 3s 3s forwards;
}
/* .pixel {
  display: inline-block;
  justify-content: center;
  align-items: center;
  /* height: calc(100vh - 100px); */
}
.pokeball {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #eee;
  border-radius: 100%;s
}
.pokeball::before {
  content: '';
  width: 200px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background-color: #ff4344;
}

.pokeball::after {
  content: '';
  width: 200px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  background: #333;
}
.pokeballButton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid #333;
  background-color: #eee;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  z-index: 1;
}
.pokeballButton::after {
  content: '';
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 17px);
  height: 30px;
  width: 30px;
  border: 2px solid #333;
  border-radius: 100%;
} */
.pokemon-image{
  width: 300px;
  height: 300px;
  display: inline-block;
transition: transform .2s;
}
.pokemon-image:hover{
    -ms-transform: scale(3.5); /* IE 9 */
    -webkit-transform: scale(3.5); /* Safari 3-8 */
    transform: scale(3.5);
}
li{
  font-size: 18pt;
  text-transform: capitalize;
}
.pokemon1{
  width: 33%;
  left: 10%;
  display: inline-block;
  /* text-align: center; */
}
.pokemon2{
  width: 33%;
  right: 5%;
  display: inline-block;
}
.pokemon3{
  width: 33%;
  display: inline-block;
}
.text{
  font-size: 18pt;
}
.padding{
  padding-top: 5%;
  padding-left: 10%;
}
.text1{
  padding-top: 50%;
}
